.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }

  .purpleText{
    color: rgb(139, 31, 179);
  }

  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner a{
    text-decoration: none;
  }
  .banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    text-decoration: none;
  }

  .text{
    text-decoration: none;
  }
  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }


@media only screen and (max-width: 500px) {
  .banner{
    scale: 80%;
    padding-right: 2vw;
    padding-top: 10vh;
  }

  .wrapText{
    height: 40vh !important;
    padding-right: 10vw;
  }
  .aboutMeText{
    padding-top: 20vh;
  }

}