.footer {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  background: #15191d;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 10vh;
  }
